function Main.main 1
call RodentGame.init 0
pop temp 0
call Mouse.init 0
pop temp 0
call Cat.init 0
pop temp 0
call RodentGame.new 0
pop local 0
push local 0
call RodentGame.run 1
pop temp 0
push local 0
call RodentGame.dispose 1
pop temp 0
push constant 0
return
